.App-body {
  background-color: black;
}


.App-header {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: image("landingPage.jpg");
}

.Picture-bg {
  flex:1;
  width: 1440px;
  height: 772px;
  left: 0px;
  top: 0px;
}